

<script src="https://alpo/javascripts/api/tableau-2.js"></script>

<div id="vizContainer"></div>

<script>

var viz

function initViz() {
    var containerDiv = document.getElementById("vizContainer"),

    <% if Rails.env.development? %>
    	url = "http://localhost/views/CSP_Assess/Start?refresh=yes&server=dev";
    <% else %> 
    	url = "https://alpo/views/CSP_Assess/Start?refresh=yes&server=prod";
    <% end %>
        
    viz = new tableau.Viz(containerDiv, url); 
}

initViz()

</script>
